{% extends "HexmediaUserBundle::admin.html.twig" %}

{% block title %}{% trans %}admin.list{% endtrans %}{% endblock %}

{% block head_script %}
	{% javascripts output='js/admins.js'
			'@HexmediaUserBundle/Resources/public/js/adminList.js'
		%}
<script type="text/javascript" src="{{ asset_url }}"></script>
	{% endjavascripts %}
{% endblock %}

{% block body %}
<div class="content data-area-list">
	<table class="table table-hover" data-bind="table: list, headerTemplate: 'list_table_header', itemTemplate: 'list_table_items'">
	</table>

	<div data-bind="pagination: pagination"></div>
</div>

<script type="text/knockout" id="list_table_header">
	<thead>
	<tr>
	<th>
	<input type="checkbox" name="select_all" data-bind="checked: parent.allChecked"/>
	</th>
	<!-- ko foreach: columns -->
	<th data-bind="attr: {'class': name}">
	<a href="#" data-bind="html:display, sort: name"></a>
	</th>
	<!-- /ko -->
	<th><a href="#" class="icon-plus"></a></th>
	</tr>
	</thead>
</script>

<script type="text/knockout" id="list_table_items">
	<tbody data-bind="foreach: items">
	<tr data-bind="attr: {'id' : 'element_' + id}">
	<td><input type="checkbox" data-bind="checked: checked" /></td>
	<!-- ko foreach: $parent.columns -->
	<td data-bind="html: $parent[name]"></td>
	<!-- /ko -->
	<td>
	<a href="#" class="icon-edit"></a>
	<a href="#" class="icon-remove" data-bind="confirm: $root.parent.deleteConfirm"></a>
	</td>
	</tr>
	</tbody>
</script>
{% endblock %}
